@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    /* ## Colors */
--BG: rgb(250, 243, 243);
--Purple100: hsl(254, 88%, 90%);
--Purple500: hsl(256, 67%, 59%);
--Yellow100: hsl(31, 66%, 93%);
--Yellow500: hsl(39, 100%, 71%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", serif;
}
body{
    background-color: var(--BG);
}
.main-container{
    margin: 40px 25px;
    border-radius: 10px;
    overflow: hidden;

    img{
        width: 200px;
    }
}
section{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.274);
}
.section1{
    background-color: var(--Purple500);
    text-align: center;
    color: var(--White);
    padding: 25px 20px;
    border-radius: 15px;
    margin-bottom: 25px;

    h1{
        font-size: 45px;
        b{
            color: var(--Yellow500);
        }
        margin-bottom: 10px;
    }
    img{
        width: 250px;
        margin-bottom: 5px;
    }
    h3{
        font-size: 20px;
        font-weight: 400;
    }
}
.section2{
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 25px;

    img{
        width: 100%;
    }
    h2{
        margin: 6px 12px ;
    }
}
.section3{
    background-color: var(--Yellow500);
    border-radius: 15px;
    padding: 20px;
    position: relative;
    height: 235px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 25px;

    img{
        position: absolute;
        bottom: 0;
    }
}
.section4{
    background-color: var(--Purple100);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;

    h2{
        font-weight: 600;
        margin-bottom: 15px;
    }
    img{
        width: 100%;
    }
    p{
        font-weight: 600;
        margin-top: 10px;
    }
}
.section5{
    background-color: var(--Purple500);
    border-radius: 15px;
    text-align: center;
    color: var(--White);
    font-size: 20px;
    padding: 20px 0 10px 0;
    margin-bottom: 25px;

    h2{
        margin: 20px 35px;
    }
    img{
        width: 80%;
    }
}
.section6{
    background-color: var(--White);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 25px;

    span{
        font-size: 50px;
        font-weight: bold;
    }
    h3{
        margin: 10px 0 20px 0;
        font-weight: 600;
    }
    img{
        width: 230px;
    }
}
.section7{
    background-color: var(--Yellow100);
    border-radius: 15px;
    padding: 20px 20px 0;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;

    h2{
        margin-bottom: 25px;
    }
    b{
        color: var(--Purple500);
    }
}
.section8{
    background-color: var(--Yellow500);
    border-radius: 15px;
    padding: 20px;
    font-size: 22px;
    line-height: 35px;

    img{
        width: 70%;
        margin-top: 25px;
    }
}

@media screen and (min-width: 650px) {
    .main-container{
        width: fit-content;
        height: fit-content;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 180px 260px 440px 220px 260px ;
        gap: 20px;
    }
    section{
        box-shadow: none;
    }
    .section1{
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/3;

        b{
            display: block;
            font-size: 75px;
        }
        h1{
            margin-top: 40px;
        }
        img{
            margin: 20px 0 30px 0;
        }
    }
    .section2{
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/2;

        h2{
            margin-top: 20px;
            text-align: center;
        }
    }
    .section3{
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 2/3;

        h2{
            text-align: center;
        }
        img{
            height: 140px;
        }
    }
    .section4{
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .section5{
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .section6{
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 4/5;

        img{
            width: 210px;
        }
    }
    .section7{
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .section8{
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 4/6;

        img{
            width: 96%;
        }
    }
}

@media screen and (min-width: 1160px) {
    .main-container{
        width: fit-content;
        height: fit-content;
        grid-template-columns: 270px 285px 285px 270px;
        grid-template-rows: 338px  88px 120px 260px; 
        gap: 15px;
    }
    .section1{
        grid-column: 2/4;
        grid-row: 1/2;
        height: 325px;
        width: 100%;
        margin: 0 auto;
        height: 100%;

        h1{
            font-size: 70px;
            margin: 0;
        }
        b{
            display: inline;
        }
        img{
            margin: 20px 0 10px;
        }
        h3{
            font-size: 23px;
        }
    }
    .section2{
        grid-column: 2/3;
        grid-row: 2/4;
        width: 100%;
        height: 100%;
        
        img{
            width: 100%;
            margin-top: 20px;
        }
        h2{
            text-align: center;
            font-size: 32px;
            margin: 20px 30px 0;
            line-height: 28px;
        }
    }
    .section3{
        grid-column: 3/4;
        grid-row: 2/4;
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 18px;

        img{
            height: 120px;
            left: 40px;
            
        }
    }
    .section4{
        grid-column: 4/5;
        grid-row: 1/4;
        width: 100%;
        height: 100%;
        margin: 0;

        h2{
            font-size: 40px;
            margin-top: 20px;
        }
        img{
            height: 260px;
            width: 100%;
        }
        P{
            font-size: 23px;
            text-align: left;
            margin-top: 20px;
            line-height: 24px;
        }
    }
    .section5{
        grid-column: 3/5;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0;
        img{
            width: 100%;
            margin-left: 15px;
        }
        h2{
            margin: 20px 20px 0 10px;
            text-align: left;
            font-size: 45px;
            font-weight: 500;
        }
    }
    .section6{
        grid-column: 2/3;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
        margin: 0;

        h3{
            margin-bottom: 35px;
        }
    }
    .section7{
        grid-column: 1/2;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
        margin: 0;

        h2{
        font-size: 45px;
        line-height:42px;
        margin: 35px 5px;
        text-align: left;
        }
        img{
            width: 100%;
            margin-top: 40px;
        }

    }
    .section8{
        grid-column: 1/2;
        grid-row: 3/5;
        width: 100%;
        height: 100%;
        margin: 0;

        h2{
            font-size: 40px;
            margin: 0 20px;
        }
        img{
            width: 100%;
        }
    }
}